<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.quislisting">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".QuisListingApplication"
        android:allowBackup="false"
        android:configChanges="orientation"
        android:icon="@mipmap/quis"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/quis"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name=".activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="https"
                    android:host="quislisting.com" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.SignupActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity" />
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="http"
                    android:host="quislisting.com"
                    android:path="/sign-up" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.LoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity" />
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="https"
                    android:host="quislisting.com"
                    android:path="/sign-in" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.ListingDetailsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity" />
        </activity>
        <activity
            android:name=".activity.ProfileActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateAlwaysVisible">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="http"
                    android:host="quislisting.com"
                    android:path="/account/profile" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.AddListingActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity" />
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="http"
                    android:host="quislisting.com"
                    android:path="/my-listings/add-listing-step-1" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.ListingsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity" />
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="http"
                    android:host="quislisting.com"
                    android:path="/my-listings" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MessagesActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity" />
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="http"
                    android:host="quislisting.com"
                    android:path="/message-center/conversations" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.SendMessageActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.ListingDetailsActivity" />
        </activity>
        <activity android:name=".activity.EditListingActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.ListingDetailsActivity" />
        </activity>
        <activity android:name=".activity.MessageOverviewActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MessagesActivity" />
        </activity>
        <activity android:name=".activity.SearchActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity" />
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="https"
                    android:host="quislisting.com"
                    android:path="/search" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.SearchResultActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.SearchActivity" />
        </activity>

        <service
            android:name=".service.SignoutService"
            android:enabled="true"
            android:exported="false"
            android:stopWithTask="false" />
    </application>

</manifest>